[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
psycopg2-binary = "*"
requests = "*"
"backports.zoneinfo" = {markers="python_version < '3.9'"}
googlemaps = "*"

[dev-packages]

[requires]
python_version = "3.10"
